AI/n8n/samples/AI行程管理助手-google/iPhone Siri.json
{
  "name": "iPhone Siri",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body['內容'] }}",
        "options": {
          "systemMessage": "=你是一個聰明貼心的 AI 助理，請依據你收到的資訊來回覆訊息，回覆時請參考以下要點：\n- 使用繁體中文來回達訊息。 \n- 現在的時間是：{{ $now }}\n- 回覆時請不要使用\"\\n\"符號或包含任何的 https 網址，以避免被手機語音朗讀出來。\n- 如果我請你新增行程，但沒有提供行程的結束時間，則行程預設時長設為 1 小時。\n- 如果我請你修改行程，請先使用 Google Calendar Tool 取得該行程的原始資訊，然後再去修改該行程的內容。\t"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "74eaaf0b-2569-49f8-b5a5-83b519c45d8b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "bd974e32-10c0-4ee2-8a7c-e79d0865d0a7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "b5f9ce88-2270-458d-accf-cbf8223c0836",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PEFHBYecxBu9U6fY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "papayaclass@gmail.com",
          "mode": "list",
          "cachedResultName": "行事曆"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        224
      ],
      "id": "c261dc0a-1298-4acb-baab-9eb447e5bb7f",
      "name": "Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HP3zCbIJEXjz8Knq",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "papayaclass@gmail.com",
          "mode": "list",
          "cachedResultName": "行事曆"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        624,
        224
      ],
      "id": "6257b43e-372b-471e-aa68-a1dd14914b2a",
      "name": "Delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HP3zCbIJEXjz8Knq",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "papayaclass@gmail.com",
          "mode": "list",
          "cachedResultName": "行事曆"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        752,
        224
      ],
      "id": "aeb1b676-831b-4bb6-a78e-ad58efa2c4d6",
      "name": "Get Many",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HP3zCbIJEXjz8Knq",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "papayaclass@gmail.com",
          "mode": "list",
          "cachedResultName": "行事曆"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        880,
        224
      ],
      "id": "0d5fa74d-21f2-4353-9f85-7f13a928bcf8",
      "name": "Update",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HP3zCbIJEXjz8Knq",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2ffdb967-0a09-4eaa-bc6e-6c07013ad002",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "08d5ccf9-964c-42a6-a46a-72dd0d480db4",
      "name": "Webhook",
      "webhookId": "2ffdb967-0a09-4eaa-bc6e-6c07013ad002"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        0
      ],
      "id": "3fa8fcc9-b84b-4977-bfa5-a6c2c04daee7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Many": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8fa5bc1-d5b2-44cc-986c-d9061edbf325",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93aecaa8674a2fe8942e0a68767f0458d95e777e3c273c1435ba5bda9e85e09b"
  },
  "id": "Km3OVU89LvyMXOIM",
  "tags": []
}