AI/n8n/samples/AI智能體個人助手2.0/Calendar_agent_2.0_(2).json
{
  "name": "Calendar agent 2.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "933b41a2-70f2-4c66-bf99-9195cf1bea61",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        460,
        1100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# 概述\n您是日历助理。您的职责包括在用户日历中创建、获取和删除事件。\n\n**日历管理工具**\n- 当事件包含参与者时，使用“创建包含参与者的事件”。\n- 对于单独事件，使用“创建事件”。\n- 请求时，使用“获取事件”获取日历日程。\n- 使用“删除事件”删除事件。您必须先使用“获取事件”获取要删除的事件的 ID。\n- 使用“更新事件”更新事件。您必须先使用“获取事件”获取要更新的事件的 ID。\n\n## 最后说明\n当前日期/时间：{{ $now }}\n如果未指定事件的持续时间，则假定为 1 小时。"
        }
      },
      "id": "9591d1ae-ce01-430c-95d0-51489f5a303c",
      "name": "日程助手",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        680,
        1100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "harrylee1101@gmail.com",
          "mode": "list",
          "cachedResultName": "harrylee1101@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        880,
        1460
      ],
      "id": "14364bc1-1cab-411b-b3ba-ee34f7d94bb0",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "awKpzt5p7mqHJK8F",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "harrylee1101@gmail.com",
          "mode": "list",
          "cachedResultName": "harrylee1101@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        760,
        1460
      ],
      "id": "86154aa8-b53d-40da-9d99-801b68fa1ab2",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "awKpzt5p7mqHJK8F",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "harrylee1101@gmail.com",
          "mode": "list",
          "cachedResultName": "harrylee1101@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        640,
        1460
      ],
      "id": "66c43c23-af38-423b-be93-13bdd4396618",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "awKpzt5p7mqHJK8F",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "harrylee1101@gmail.com",
          "mode": "list",
          "cachedResultName": "harrylee1101@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        880,
        1320
      ],
      "id": "92f96c61-06ee-4843-9ec0-a8bc70d12b41",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "awKpzt5p7mqHJK8F",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "harrylee1101@gmail.com",
          "mode": "list",
          "cachedResultName": "harrylee1101@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        760,
        1320
      ],
      "id": "277d1a01-5981-4d68-ad2b-bdda9edd8a05",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "awKpzt5p7mqHJK8F",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        1320
      ],
      "id": "9df6a595-fee9-46c9-97f3-d2a447a67e92",
      "name": "4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "WdNCSir4qi0cxfNj",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "日程助手",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "日程助手",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "日程助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "日程助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "日程助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "日程助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "日程助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b51ce458-d741-49db-933b-3d1d175a169b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78fda1add35c93dc0024c98cb79ca18abaf100f2da4d66f7e1f7cf6b91bd719a"
  },
  "id": "S8ScAfthOM6VieuH",
  "tags": []
}