AI/n8n/samples/AI智能體個人助手2.0/Contact_agent_2.0_(1).json
{
  "name": "Contact agent 2.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "81f03f00-c909-4688-88ca-803eaf3cff88",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1020,
        1100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# 概述\n您是联系人管理助理。您的职责包括查找联系人、添加新联系人或更新联系人信息。\n\n**联系人管理**\n- 使用“Get Contacts”检索联系人信息。\n- 使用“Add or Update Contact”存储新的联系人信息或修改现有条目。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1240,
        1100
      ],
      "id": "d89ffe62-89c9-4602-97b8-c5196f6acbb2",
      "name": "联系人助手",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appB4adjQ3fOtZZMI",
          "mode": "list",
          "cachedResultName": "Contact Management",
          "cachedResultUrl": "https://airtable.com/appB4adjQ3fOtZZMI"
        },
        "table": {
          "__rl": true,
          "value": "tblaYVt614nASsiek",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appB4adjQ3fOtZZMI/tblaYVt614nASsiek"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1340,
        1320
      ],
      "id": "bef04843-4f8b-4c1b-8084-9c542d703eb7",
      "name": "Get Contacts",
      "credentials": {
        "airtableTokenApi": {
          "id": "G9UWOYHbK01vy3Ur",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appB4adjQ3fOtZZMI",
          "mode": "list",
          "cachedResultName": "Contact Management",
          "cachedResultUrl": "https://airtable.com/appB4adjQ3fOtZZMI"
        },
        "table": {
          "__rl": true,
          "value": "tblaYVt614nASsiek",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appB4adjQ3fOtZZMI/tblaYVt614nASsiek"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $fromAI(\"name\") }}",
            "email": "={{ $fromAI(\"emailAddress\") }}",
            "phoneNumber": "={{ $fromAI(\"phoneNumber\") }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1500,
        1320
      ],
      "id": "fb47146a-0b86-4eaa-a789-ef93b3661d07",
      "name": "Add or Update Contact",
      "credentials": {
        "airtableTokenApi": {
          "id": "G9UWOYHbK01vy3Ur",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1160,
        1320
      ],
      "id": "3d4577c8-04d9-4fa5-be0b-110ff3d299dc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WdNCSir4qi0cxfNj",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "联系人助手",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "联系人助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Contact": {
      "ai_tool": [
        [
          {
            "node": "联系人助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "联系人助手",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6645acc6-ee09-4c63-bad2-59ca65805934",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78fda1add35c93dc0024c98cb79ca18abaf100f2da4d66f7e1f7cf6b91bd719a"
  },
  "id": "wuH2AWsBEEsUp4SC",
  "tags": []
}