AI/n8n/samples/AI智能體個人助手2.0/Contant_agant_2.0_(1).json
{
  "name": "Contant agant 2.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "19f3f4d9-6570-447a-a6b3-54ee7c213254",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1560,
        1100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {
          "systemMessage": "=# 概述\n您是一位经验丰富的 AI 博客写手，擅长撰写引人入胜、结构合理且信息丰富的内容。您的写作风格清晰、引人入胜，并针对目标受众量身定制。您针对可读性、搜索引擎优化 (SEO) 和价值进行了优化，确保博客内容经过充分研究、原创且简洁。\n\n## 工具\nPerplexity - 使用 Perplexity 工具在网络上搜索博客文章所需主题的相关内容。\n\n## 博客要求\n所有博客内容均采用 HTML 格式，并使用正确的标题 (<h1>、<h2>)、段落 (<p>)、项目符号 (<ul><li>) 和链接 (<a href=\"URL\">) 进行引用。所有来自 Perplexity 工具的引用都必须保留，并提供可点击的超链接，以便读者访问原始来源。\n\n保持自然、人性化的语气，使用多样化的句子结构，并在需要时添加相关的例子或数据。使用简洁的段落和逻辑流程构建易于阅读的内容。始终确保事实准确性，并使语气与预期的品牌或目的保持一致。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1780,
        1100
      ],
      "id": "a5013616-d2e4-48e2-a70b-f949a49c4856",
      "name": "内容助手",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "use this this tool to search the internet and return What the user has requested to write a blog about"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        1940,
        1320
      ],
      "id": "57f90b6b-ac09-4e3a-8f75-1b651394b5de",
      "name": "Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "aWxVLXzIUmBFa0m0",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1700,
        1320
      ],
      "id": "76e6abce-bf1e-47b0-873f-0474354eecee",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "r4f0Nk2BFxDrS7lh",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "内容助手",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "内容助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "内容助手",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5031ecce-cf7f-4f1d-8f3f-43d967a37706",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78fda1add35c93dc0024c98cb79ca18abaf100f2da4d66f7e1f7cf6b91bd719a"
  },
  "id": "Gw9HgLNHCGyHTU3n",
  "tags": []
}