AI/n8n/samples/AI智能體個人助手2.0/Email_agent_2.0_(1).json
{
  "name": "Email agent 2.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "f326203f-5c3c-491d-bd12-ef719092fa2e",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -80,
        1100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# 概述\n您是一位电子邮件管理助理。所有电子邮件必须采用专业的 HTML 格式，并以“Harry”的名义签名。\n\n**电子邮件管理工具**\n- 使用“发送电子邮件”发送电子邮件。\n- 如果用户要求创建草稿，请使用“创建草稿”。\n- 使用“获取电子邮件”在收到请求时检索电子邮件。\n- 使用“获取标签”检索标签。\n- 使用“标记为未读”将电子邮件标记为未读。您必须先使用“获取电子邮件”获取要标记的电子邮件的邮件 ID。\n- 使用“标记电子邮件”标记电子邮件。您必须先使用“获取电子邮件”获取要标记的电子邮件的邮件 ID。然后，您必须使用“获取标签”获取标签 ID。\n- 使用“电子邮件回复”回复电子邮件。您必须先使用“获取电子邮件”获取要回复的电子邮件的邮件 ID。\n\n## 最后说明\n- 当前日期/时间：{{ $now }}"
        }
      },
      "id": "fa6b34c6-d897-4255-aded-85aaff7c505b",
      "name": "邮件助手",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        140,
        1100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        180,
        1340
      ],
      "id": "0afea839-0f1b-4e65-86cd-f81b1fba5b5b",
      "name": "Send Email",
      "webhookId": "86c8c4b1-13bb-4ebe-acb9-30e1d7082d55",
      "credentials": {
        "gmailOAuth2": {
          "id": "O0Vba5eeMGaaWZ4t",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\",\"how many emails the user wants\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ $fromAI(\"sender\",\"who the emails are from\") }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        300,
        1480
      ],
      "id": "95fc807b-7b95-40db-a5e6-898d190eea71",
      "name": "Get Emails",
      "webhookId": "af4b3298-9037-44b0-aa12-2acbfbb5e66f",
      "credentials": {
        "gmailOAuth2": {
          "id": "O0Vba5eeMGaaWZ4t",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $fromAI(\"ID\",\"the message ID\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        300,
        1340
      ],
      "id": "42c069a8-220f-411d-a34b-70576dd150a7",
      "name": "Email Reply",
      "webhookId": "114785e6-a859-432b-81b4-c490c1c35b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "O0Vba5eeMGaaWZ4t",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        420,
        1480
      ],
      "id": "e03dc44c-060d-4af7-9fac-204883e5bf39",
      "name": "Get Labels",
      "webhookId": "9e08b59e-792d-4566-83f1-9263c9ad86ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "O0Vba5eeMGaaWZ4t",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"ID\",\"the ID of the message\") }}",
        "labelIds": "={{ $fromAI(\"labelID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        420,
        1340
      ],
      "id": "2a5a2dae-1b6f-4dd0-9f53-3afcfc8bd54f",
      "name": "Label Emails",
      "webhookId": "0e951529-2e6d-40bf-ac40-fc0947e242e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "O0Vba5eeMGaaWZ4t",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $fromAI(\"messageID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        60,
        1480
      ],
      "id": "678bc043-60b0-4e55-9bb0-8312e5f2f123",
      "name": "Mark Unread",
      "webhookId": "a35af9d8-f67d-4ff9-803f-59ec6356e795",
      "credentials": {
        "gmailOAuth2": {
          "id": "O0Vba5eeMGaaWZ4t",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "html",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "threadId": "={{ $fromAI(\"threadID\") }}",
          "sendTo": "={{ $fromAI(\"emailAddress\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        180,
        1480
      ],
      "id": "66d5c2ad-a997-466a-a71a-8adb693d0cd1",
      "name": "Create Draft1",
      "webhookId": "17016bce-d7d7-428a-a56c-f6ea122db8be",
      "credentials": {
        "gmailOAuth2": {
          "id": "O0Vba5eeMGaaWZ4t",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        1340
      ],
      "id": "cb62167d-c9d7-4a83-b79b-ac849a9efd84",
      "name": "4.1-mini1",
      "credentials": {
        "openAiApi": {
          "id": "WdNCSir4qi0cxfNj",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "邮件助手",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "邮件助手": {
      "main": [
        []
      ]
    },
    "4.1-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "邮件助手",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Label Emails": {
      "ai_tool": [
        [
          {
            "node": "邮件助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "邮件助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "邮件助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "邮件助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "邮件助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft1": {
      "ai_tool": [
        [
          {
            "node": "邮件助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unread": {
      "ai_tool": [
        [
          {
            "node": "邮件助手",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3421d11-a9ad-4b3e-843b-3b472c29c438",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78fda1add35c93dc0024c98cb79ca18abaf100f2da4d66f7e1f7cf6b91bd719a"
  },
  "id": "Q1KeBN0eJGa8huQd",
  "tags": []
}