AI/n8n/samples/AI智能體個人助手2.0/Telegram_Personal_assistant_2.0_(1).json
{
  "name": "Telegram Personal assistant 2.0",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ],
      "id": "44b340e6-d371-4f39-84e0-17c7291f02c5",
      "name": "Calculator"
    },
    {
      "parameters": {
        "description": "使用該工具進行思考。它不會獲取新資訊或更改資料庫，而只是將想法附加到日誌中。當需要複雜的推理或一些快取時，可以使用它。"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1440,
        500
      ],
      "id": "9365670a-a877-4fb9-9964-122c1a4ecb9f",
      "name": "Think"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "7e994c66-ec96-42d8-828b-d1a75f8ac976",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        440,
        360
      ],
      "webhookId": "99eab1a0-569d-4f0f-a49e-578a02abfe63",
      "credentials": {
        "telegramApi": {
          "id": "iKlo7PF647W8JMdm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b356c8ec-967b-4784-ba3f-092af0325825"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d27f63dd-8445-4528-9d4f-ef3550be53ee",
                    "leftValue": "={{ $json.message.photo[0].file_id }}",
                    "rightValue": "Image",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "id": "62c64586-63cc-45db-a2a7-4bbb790a0cf0",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        360
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2354d5fa-6e55-47c7-9c85-1e1c685bb8fc",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        560
      ],
      "webhookId": "682ca5ab-d30c-4ea5-bb25-c2f26206e761",
      "credentials": {
        "telegramApi": {
          "id": "iKlo7PF647W8JMdm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1440,
        360
      ],
      "id": "12f42d90-85c6-4945-95ea-739759e87455",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=你是终极个人助理。你的工作是将用户的请求发送给正确的工具。你永远不应该自己写邮件，甚至不需要做摘要，你只需要调用正确的工具即可。\n\n工具\nThink（思考）：当你遇到难题或者卡住时，使用这个工具进行深入思考\n\n邮件助手：用于执行邮件相关操作\n\n日程助手：用于执行日历相关操作\n\n联系人助手：用于获取、更新或添加联系人\n\n内容助手：用于创建博客文章，也可以利用perplexity进行网页搜索\n\nPerplexity：用于网页搜索时，启用perplexcity工具进行搜索\n\n\n\n规则\n某些操作需要你先查找联系信息。对于以下操作，你必须先获取邮箱地址，然后再发送给对应的代理工具：\n\n发送邮件\n\n起草邮件\n\n创建包含参与者的日历事件\n\n如果是图片文件，可以直接输出图片的分析\n\n操作指令\n根据用户请求调用所需的工具\n\n每次操作后都要使用 \"Think\" 工具来验证你是否做了正确的步骤\n\n示例\n输入：给 Harry Lee 发送一封邮件，问他想几点离开\n\n操作：使用 contactAgent 获取 Harry Lee的邮箱\n\n操作：使用 emailAgent 发送邮件。你将传递给工具类似 \"send Harry Lee email to ask what time he wants to leave. here is his email: [email address]\" 的请求\n\n输出：邮件已发送给 Harry Lee。还有其他需要帮忙的吗？\n\n最后提醒\n当前日期/时间：{{ $now }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1380,
        60
      ],
      "id": "08b3ace0-5c19-4d0d-b3fe-5909ff66d871",
      "name": "个人助手2.0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c437dbcf-578b-4ead-b47a-496d6a9200c4",
      "name": "文字",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "69a1122c-f40a-42fb-8a33-a41037ed16f1",
      "name": "下载语音",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        920,
        160
      ],
      "webhookId": "c0b376b1-7b63-41b6-8063-0b3096b8333d",
      "credentials": {
        "telegramApi": {
          "id": "iKlo7PF647W8JMdm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "c79ffc08-5710-4b74-8391-b6d32d96b4d5",
      "name": "转文字",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1140,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "WdNCSir4qi0cxfNj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool for any email actions.",
        "workflowId": {
          "__rl": true,
          "value": "Q1KeBN0eJGa8huQd",
          "mode": "list",
          "cachedResultName": "Email agent 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1620,
        480
      ],
      "id": "b342b1b7-b316-496c-b9f0-1b4a8a8efc7b",
      "name": "邮件助手"
    },
    {
      "parameters": {
        "name": "contentCreator",
        "description": "Call this tool to create blog posts.",
        "workflowId": {
          "__rl": true,
          "value": "Gw9HgLNHCGyHTU3n",
          "mode": "list",
          "cachedResultName": "Contant agant 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1760,
        480
      ],
      "id": "8e8c2892-1e3e-4241-93d8-77b8a634eab4",
      "name": "内容助手"
    },
    {
      "parameters": {
        "name": "contactAgent",
        "description": "Call this tool for any contact related actions.",
        "workflowId": {
          "__rl": true,
          "value": "wuH2AWsBEEsUp4SC",
          "mode": "list",
          "cachedResultName": "Contact agent 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1760,
        360
      ],
      "id": "662454ef-3b81-4ebc-a7b2-2090e8a585ab",
      "name": "联系人助手"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "S8ScAfthOM6VieuH",
          "mode": "list",
          "cachedResultName": "Calendar agent 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1620,
        360
      ],
      "id": "1084560a-3b47-4061-955b-a16d01abf619",
      "name": "日程助手"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1300,
        360
      ],
      "id": "d103e0c7-2cc6-4c36-b3ff-53d7f95b0d9a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WdNCSir4qi0cxfNj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7a0a0d7-1321-413b-855b-b877253f5004",
              "name": "output",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        560
      ],
      "id": "47122559-f738-42ca-92fd-6c54eb824606",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=**分析图片，重点理解其视觉语境中的文本内容。**\n\n1. **识别图片类型和语境**：简要描述图片的外观（例如，网页截图、带字幕的视频帧、文档章节、演示文稿幻灯片、带有叠加文字的照片）。整体的视觉语境是什么？\n2. **提取突出文本**：准确转录可见的最重要或最突出的文本。如果文本量较大，请重点关注标题、说明或传达主要思想的首句。\n3. **确定文本的角色和主题**：根据提取的文本和视觉语境，*此特定图片*中显示的文本的**目的或主要主题**是什么？ （例如，“这是一个新闻标题”、“它解释了一个用户界面元素”、“它是幻灯片的关键要点”、“它是描述场景的标题。”）\n4. **关键信息**：根据{{ $json.message.caption }}和图片来回答需求（非常简短的摘要或重述）。\n\n**输出应优先考虑转录的突出文本及其确定的角色/主题。**仅当其他视觉元素对于理解文本上下文至关重要时，才简要提及它们。\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        940,
        560
      ],
      "id": "c9e5f2c7-6741-4b2e-8bf1-125e6ad34b9f",
      "name": "图片分析",
      "credentials": {
        "openAiApi": {
          "id": "WdNCSir4qi0cxfNj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        600
      ],
      "id": "954e4b6c-5363-4713-9145-f84db5232107",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fA9FI3HzbSZZlftu",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "个人助手2.0",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "个人助手2.0",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "下载语音",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "文字",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "图片分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "个人助手2.0",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "个人助手2.0": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "文字": {
      "main": [
        [
          {
            "node": "个人助手2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载语音": {
      "main": [
        [
          {
            "node": "转文字",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "转文字": {
      "main": [
        [
          {
            "node": "个人助手2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "邮件助手": {
      "ai_tool": [
        [
          {
            "node": "个人助手2.0",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "内容助手": {
      "ai_tool": [
        [
          {
            "node": "个人助手2.0",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "联系人助手": {
      "ai_tool": [
        [
          {
            "node": "个人助手2.0",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "日程助手": {
      "ai_tool": [
        [
          {
            "node": "个人助手2.0",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "个人助手2.0",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "图片分析": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "475e01be-f974-4bb2-bbc0-769b218d0201",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78fda1add35c93dc0024c98cb79ca18abaf100f2da4d66f7e1f7cf6b91bd719a"
  },
  "id": "iVQHbJWgQmyZyqz3",
  "tags": []
}